@model IEnumerable<MvcCoreSession.Models.Persona>

@{
    ViewData["Title"] = "ColeccionSessionPersonas";
}

<h1>Coleccion Session Personas</h1>

<p>
    <a asp-controller="EjemploSession"
       asp-action="ColeccionSessionPersonas"
       asp-route-accion="almacenar">
        Almacenar colección
    </a>
</p>
<p>
    <a asp-controller="EjemploSession"
       asp-action="ColeccionSessionPersonas"
       asp-route-accion="mostrar">
        Mostrar colección
    </a>
</p>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edad)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
