@using MvcCoreSession.Helpers


@{
    ViewData["Title"] = "Home Page";
}
@{
    Persona persona = null;
    if(Context.Session.GetString("PERSONA") != null)
    {
        string jsonPersona = Context.Session.GetString("PERSONA");
            persona =
            HelperJsonSession.DeserializeObject<Persona>(jsonPersona);
    }
   
}
<div class="text-center">
    <h1 class="display-4">Proyecto Session</h1>
    <p>Hora: @Context.Session.GetString("hora")</p>
    <p>Nombre: @Context.Session.GetString("nombre")</p>

    @if(persona != null)
    {
        <h1 style="color:blue">
            Persona: @persona.Nombre, @persona.Email
        </h1>
        <h1 style="color:red">
            Edad Persona: @persona.Edad
        </h1>
    }
    

</div>
